<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Деканат: Пользователи</title>
</head>
<body>
<h1>Статус замороженных аккаунтов пользователей</h1>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Электронная почта</th>
        <th>Имя пользователя</th>
        <th>Активность аккаунта</th>
        <th>Имя пользователя<br>(Блок. | Разблок.)</th>
        <th>Пароль - символы<br>(Блок. | Разблок.)</th>
        <th>Пароль - срок действия<br>(Блок. | Разблок.)</th>
    </tr>
    </thead>
    <tbody>
    <!--Users list-->
    <tr th:each="user : ${users}" style="text-align: center">
        <!--ID-->
        <th th:text="${user.getId()}" th:value="userId"></th>
        <!--Email-->
        <td th:if="${user.getEmail() != null}" th:text="${user.getEmail()}"></td>
        <td th:if="${user.getEmail() == null}">----</td>
        <!--Username-->
        <td><a th:href="@{/admin/users/{id}(id=${user.getId()})}"><span th:text="${user.getUsername()}"></span></a></td>

        <!--Account status-->
        <td>
            <div th:if="${user.isEnabled()}">
                Акт.
            </div>
            <div th:if="${!user.isEnabled()}">
                Не акт.
            </div>
        </td>

        <!--Disable username-->
        <td>
            <a th:href="@{/admin/disable-by-username(username=${user.getUsername()})}">(X</a>    |
            <a th:href="@{/admin/enable-by-username(username=${user.getUsername()})}">✓)</a>
        </td>

        <!--Restrict password characters-->
        <td>
            <a th:href="@{/admin/restrict-password-characters(id=${user.getId()})}">(X    |</a>
            <a th:href="@{/admin/unrestrict-password-characters(id=${user.getId()})}">✓</a>
        </td>

        <!--Restrict password expiration-->
        <td>
            <a th:href="@{/admin/restrict-password-expiration(id=${user.getId()})}">(X    |</a>
            <a th:href="@{/admin/unrestrict-password-expiration(id=${user.getId()})}">✓</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/admin/users/save}">Создать нового пользователя</a>
<br>
<button onclick="history.back()">Вернуться</button>
</body>
</html>