<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Деканат: Войти</title>
</head>
<body>
<h1>Авторизоваться</h1>
<!--Password expired-->
<div th:if="${expirationMessage}" th:text="${expirationMessage}">
    <a th:href="@{/change-password-expired}">Сменить пароль</a>
</div>

<!--Bad credentials-->
<div th:if="${badCredentialsMessage}" th:text="${badCredentialsMessage}">
    <a th:href="@{/change-username}">Сменить имя пользователя</a>
</div>

<form th:action="@{/login}" method="post">
    <table>
        <tr>
            <!-- Имя пользователя -->
            <td>Имя пользователя:</td>
            <td><input type='text' name='username' value=''></td>
        </tr>
        <tr>
            <!-- Пароль -->
            <td>Пароль:</td>
            <td><input type='password' name='password' /></td>
        </tr>
        <!-- Войти -->
        <tr><td><input type="submit" value="Войти" /></td></tr>
    </table>
</form>
<a th:href="@{/}">На главную</a>
</body>
</html>