<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Деканат: Справка</title>
</head>
<body>
    <h1>Справка</h1>
    <h4>О программе</h4>
    <p><b>Автор программы:</b> Шадаев А.Р.</p>
    <p><b>Индивидуальные варианты заданий (ограничения на выбираемые  пароли):</b>1.	Наличие строчных и прописных букв, а также знаков арифметических операций.</p>
    <p><b>Индивидуальные варианты заданий на использование криптографических методов:</b>№6.	Режим шифрования: CBC.	Добавление к ключу случайного значения: Нет.	Алгоритм хеширования пароля: SHA.</p>
    <a href="/">Вернуться на главную</a>
</body>
</html>