<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Деканат: Сменить пароль</title>
</head>
<body>
<h1>Сменить пароль</h1>
<div th:if="${successMessage}" style="color: green">
    <div th:text="${successMessage}"></div>
</div>
<div th:if="${message}" style="color: red">
    <div th:text="${message}"></div>
</div>

<div th:if="${days != null}">
    Времени прошло с предыдущей смены пароля: <span th:text="${days}"></span> дней.
</div>

<form th:action="@{/change-password}" method="post" th:object="${changePasswordDto}">
    <label for="oldPassword">Старый пароль</label>
    <input type="password" name="oldPassword" id="oldPassword">
    <br>
    <label for="newPassword">Новый пароль</label>
    <input type="password" name="newPassword" id="newPassword">
    <br>
    <label for="confirmPassword">Подтвердите пароль</label>
    <input type="password" name="confirmPassword" id="confirmPassword">
    <br>
    <input type="submit" value="Сменить пароль">
    <br><br>
    <a href="/">На главную</a>
</form>
</body>
</html>