<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Деканат: Сменить истеченный пароль</title>
</head>
<body>
<h1>Сменить истеченный пароль</h1>
<div th:if="${message != null}">
    <div th:text="${message}"></div>
</div>

<form th:action="@{/change-password-expired}" method="post" th:object="${changePasswordExpiredDto}">
    <label for="email">Электронная почта</label>
    <input type="email" name="email" id="email">
    <br>
    <label for="oldPassword">Старый пароль</label>
    <input type="password" name="oldPassword" id="oldPassword">
    <br>
    <label for="newPassword">Новый пароль</label>
    <input type="password" name="newPassword" id="newPassword">
    <br>
    <label for="confirmPassword">Подтвердите пароль</label>
    <input type="password" name="confirmPassword" id="confirmPassword">
    <br>
    <input type="submit" value="Сменить пароль">
    <br><br>
    <a href="/">На главную</a>
</form>
</body>
</html>