<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная</title>
</head>
<body>
<!--Справочная информация-->
<h2>Главная</h2>
<p><b>Автор программы:</b> Шадаев А.Р.</p>
<p><b>Вариант:</b> №4</p>
<p><b>Задание:</b>Алгоритм DES в режиме OFB (Output Feedback) - обратная связь по выходу.</p>
<p><b>Описание: </b></p>
<p>Режим OFB (Output Feedback) является одним из режимов блочного шифрования в алгоритме DES.Режим OFB полагается на блоки открытого текста и зашифрованного текста с использованием операции XOR с расширенными версиями вектора инициализации ввода фиксированного размера </p>
<p>Режим OFB работает следующим образом:</p>
<p>1. Генерируется последовательность векторов контактных площадок с помощью алгоритма блочного шифрования с использованием ключа и векторов. Формула для этого выглядит так: Vi = Ek(Vi-1), где Ek обозначает алгоритм блочного шифрования с использованием ключа K и Vi и Vi-1 — смежные векторы.</p>
<p>2. После генерации последовательности векторов контактных площадок, шифрование с помощью режима OFB может быть выполнено по формуле: Ci = Pi XOR Vi, где Ci — шифртекст, Pi — открытый текст, XOR — операция XOR, Vi — вектор контактной площадки.</p>
<p>Одним из преимуществ режима OFB является то, что блоки независимы друг от друга, что позволяет выполнять шифрование и дешифрование блоков параллельно после того, как векторы заполнения были сгенерированы. Это также делает режим OFB устойчивым к потерям в блоках.</p>
<p>Однако, режим OFB имеет и недостатки. Один из них — это то, что многократное шифрование вектора инициализации может привести к тому же состоянию, что и раньше. Это маловероятная ситуация, но в таком случае открытый текст начнет шифроваться теми же данными, что и раньше.</p>
<a href=""></a>

<span>==============================</span>
<div>
    <a th:href="@{/encrypt}">Шифровать файл</a>    |
    <a th:href="@{/decrypt}">Расшифровать файл</a>
</div>
<span>==============================</span>
<div>
    <a th:href="@{/login}">Авторизоваться</a>    |
    <a th:href="@{/registration}">Зарегистрироваться</a>
</div>
<span>==============================</span>
</body>
</html>