<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная</title>
</head>
<body>
<!--Справочная информация-->
<h2>Главная</h2>
<p><b>Автор программы:</b> Шадаев А.Р.</p>
<p><b>Вариант:</b> №4</p>
<p><b>Задание:</b>Алгоритм DES в режиме OFB (Output Feedback) - обратная связь по выходу.</p>

<a href=""></a>

<!--<div th:if="${message}">-->
<!--    <h2 th:text="${message}"/>-->
<!--</div>-->

<div>
    <a th:href="@{/encrypt}">Шифровать файл</a>    |
    <a th:href="@{/decrypt}">Расшифровать файл</a>
</div>

</body>
</html>