<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Деканат: Авторизоваться</title>
</head>
<body>
<h1>Авторизоваться</h1>
<div th:if="${param.error}" style="color:red">
    Неправильный логин или пароль
</div>
<form th:action="@{/login}" method="post">
    <table>
        <tr>
            <!-- Имя пользователя -->
            <td>Имя пользователя:</td>
            <div th:if="${username != null}">
                <td><input type='text' name='username' th:value='${username}'></td>
            </div>
            <div th:if="${username == null}">
                <td><input type='text' name='username'></td>
            </div>
        </tr>
        <tr>
            <!-- Пароль -->
            <td>Пароль:</td>
            <div th:if="${password != null}">
                <td><input type='text' name='username' th:value='${password}'></td>
            </div>
            <div th:if="${password == null}">
            <td><input type='password' name='password'/></td>
            </div>
        </tr>
        <!-- Войти -->
        <tr>
            <td><input type="submit" value="Войти"/></td>
        </tr>
    </table>
</form>

<a th:href="@{/}">На главную</a>
</body>
</html>