<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Деканат: Авторизоваться</title>
</head>
<body>
<h1>Авторизоваться</h1>
<div th:if="${param.error}" style="color:red">
    Неправильный логин или пароль
</div>
<!--<form th:action="@{/login}" method="post">-->
<!--    <table>-->
<!--        <tr>-->
<!--            &lt;!&ndash; Имя пользователя &ndash;&gt;-->
<!--            <td>Имя пользователя:</td>-->
<!--            <td><input type='text' name='username' value=''></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            &lt;!&ndash; Пароль &ndash;&gt;-->
<!--            <td>Пароль:</td>-->
<!--            <td><input type='password' name='password'/></td>-->
<!--        </tr>-->
<!--        &lt;!&ndash; Войти &ndash;&gt;-->
<!--        <tr>-->
<!--            <td><input type="submit" value="Войти"/></td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</form>-->

<form method="post" enctype="multipart/form-data" action="/login-file">
    <table>
        <!--Загрузка файла-->
        <tr>
            <td><input type="file" name="file"/></td>
        </tr>
        <!--Кнопка "Отправить"-->
        <tr>
            <td><input type="submit" value="Загрузить"/></td>
        </tr>
    </table>
</form>

<a th:href="@{/}">На главную</a>
</body>
</html>