<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Деканат: Авторизоваться</title>
</head>
<body>
<style>
    span {
        color: red;
    }
</style>
<h1>Зарегистрироваться</h1>
<div th:if="${errorMessage}" th:text="${errorMessage}" style="color: red"></div>
<div th:if="${successMessage}" th:text="${successMessage}" style="color: green"></div>
<form th:action="@{/registration}" method="post" th:model="${registrationDto}">
    <table>
        <tr>
            <!-- Имя пользователя -->
            <td>Имя пользователя:</td>
            <td><input type='text' name='username' value=''></td>
        </tr>
        <tr>
            <!-- Пароль -->
            <td>Пароль:</td>
            <td><input type='password' name='password'/></td>
        </tr>
        <tr>
            <!-- Пароль -->
            <td>Подтвердите пароль:</td>
            <td><input type='password' name='passwordConfirm'/></td>
        </tr>
        <!-- Зарегистрироваться -->
        <tr>
            <td><input type="submit" value="Зарегистрироваться"/></td>
        </tr>
    </table>
</form>

<a th:href="@{/}">На главную</a>
</body>
</html>